<h3>Equipment</h3>
  <ul>
    <li *ngFor="let item of equipment">

      <span *ngIf="itemBeingEdited !== item; else itemBeingEditedBlock">
        <span (click)="edit(item)" class="editable-text">{{item}}</span>
        <button (click)="remove(item)">remove</button>
      </span>
      
      <ng-template #itemBeingEditedBlock>
        <input #updatedItem (keyup.enter)="save(updatedItem.value, item)" value="{{item}}"/>
      </ng-template>
    </li>
  </ul>



<input #newEquipment type="text"/>
<button (click)="add(newEquipment.value)">add</button>